.site_card {
  width: 100%;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: var(--base-border-radius);

  &_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    margin-bottom: 10px;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000,
      1px -1px #000, -1px 1px #000;
  }

  &_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &_fork_count {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
