.construct_block {
  position: absolute;
  width: 100%;
  min-height: 35px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  z-index: 100;

  &_edit {
    border: 1px solid var(--base-light-color);
    z-index: 100;
  }

  &_button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--base-light-color);
    border-color: var(--base-success);
    z-index: 5;

    svg {
      width: 14px;
      height: 14px;
      fill: var(--base-success);
    }
  }
}

.delete {
  top: 0;
  right: 30px;
}

.edit {
  top: 0;
  right: 0;
}

.width {
  right: 0;
  top: calc(50% - 13px);
}

.height {
  bottom: 0;
  left: calc(50% - 13px);
}
