.button_form {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 100%;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--green-color);
    }
  }
}
